<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>导出管理</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <script type="text/javascript">
        // 选择状态
        var selectState = false;

        // 全选或者全取消
        function AllCheck(this_form) {
            for (var i = 0; i < this_form.elements.length; i++) {
                // 提取控件
                var checkbox = this_form.elements[i];
                checkbox.checked = !selectState;
            }
            selectState = !selectState;
        }
    </script>
    <style type="text/css">
        .big-border {
            background: #fff;
            width: 1400px;
            margin: 0 auto;
            padding: 10px;
        }

        body {
            background: #f3f3f3;
        }

        .page-title {
            text-align: center;
        }

        td, th {
            padding-right: 10px;
        }
    </style>
</head>
<body>
<div class="big-border">
    <h3 class="page-title">导出管理</h3>
    <hr>
    <h4>当前目录 {{ ossep+subdir }}</h4>
    <hr>
    <form action="" method="post">
        <table>
            <thead>
            <tr>
                <th><input type="checkbox" class="input_hide" onClick="AllCheck (this.form);"></th>
                <th>文件或目录名</th>
                <th>修改时间</th>
                <th>大小</th>
            </tr>
            </thead>
            <tbody>
            {% if subdir %}
                <tr>
                    <td></td>
                    <td><a href="../">..{{ ossep }}</a></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
            {% for i in contents %}
                <tr>
                    <td><input type="checkbox" name="filename[]" value="{{ i.filename }}"></td>
                    <td><a href="{{ i.filename }}">{{ i.filename }}</a></td>
                    <td>{{ i.mtime }}</td>
                    <td>{{ i.size }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <button type="submit" class="btn btn-default">下载</button>
    </form>
    <hr>
</div>
</body>
</html>
